.cards-container {
    margin: 50px var(--margin-main);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 40vw;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 80em;
}

.card .foreground,
.card .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-property: transform;
    transform-style: preserve-3d;
}

.card .background {
    background-color: white;
    overflow-y: scroll;
    padding: 20px;
    font-size: var(--card-bg-font-size);
    box-sizing: border-box;
    line-height: 140%;
    font-weight: bold;
}

.card .foreground {
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    z-index: 1;
}

.card .button-blue {
    background-color: #0BF;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 1.1rem;
    border: none;
}

.card .button-blue:hover {
    background-color: #0AF;
}

.card a {
    color: blue;
    text-decoration: underline;
}

.card a:hover {
    text-decoration: none;
}

.card .social {
    font-size: calc(var(--card-font-size) / 2);
    margin-right: calc(var(--card-font-size) / 6);
    transition-property: color;
    transition-duration: 0.2s;
}

.card .social:hover {
    color: blue;
}

@media all and (max-width: 960px) {
    .cards-container {
        grid-template-rows: repeat(16, 5vw);
        height: max-content;
    }
}

@media all and (max-width: 500px) {
    .cards-container {
        grid-template-rows: repeat(24, 5vw);
    }

    .card .social {
        font-size: var(--card-font-size);
        margin-right: calc(var(--card-font-size) / 2);
    }
}
