.card.white {
    grid-row: 1/5;
    grid-column: 1/5;
}

.card.green {
    grid-row: 5/9;
    grid-column: 1/5;
}

.card.yellow {
    grid-row: 1/7;
    grid-column: 5/9;
}

.card.red {
    grid-row: 7/9;
    grid-column: 5/9;
}

.card.aqua {
    grid-row: 1/4;
    grid-column: 9/17;
}

.card.violet {
    grid-row: 4/9;
    grid-column: 9/14;
}

.card.events {
    grid-column: 14/17;
    grid-row: 4/6;
}

.card.blog {
    grid-column: 14/17;
    grid-row: 6/8;
}

.card.contacts {
    grid-column: 14/17;
    grid-row: 8;
}

@media all and (max-width: 960px) {
    .card.white {
        grid-row: 1/9;
        grid-column: 1/8;
    }
    
    .card.green {
        grid-row: 13/17;
        grid-column: 1/9;
    }
    
    .card.yellow {
        grid-row: 1/9;
        grid-column: 8/14;
    }
    
    .card.red {
        grid-row: 9/13;
        grid-column: 1/9;
    }
    
    .card.aqua {
        grid-row: 9/13;
        grid-column: 9/17;
    }
    
    .card.violet {
        grid-row: 13/17;
        grid-column: 9/17;
    }
    
    .card.events {
        grid-column: 14/17;
        grid-row: 1/4;
    }
    
    .card.blog {
        grid-column: 14/17;
        grid-row: 4/7;
    }
    
    .card.contacts {
        grid-column: 14/17;
        grid-row: 7/9;
    }
}

@media all and (max-width: 500px) {
    .card.white {
        grid-row: 1/9;
        grid-column: 1/9;
    }

    .card.yellow {
        grid-row: 1/9;
        grid-column: 9/17;
    }

    .card.events {
        grid-row: 17/22;
        grid-column: 1/9;
    }

    .card.blog {
        grid-row: 17/22;
        grid-column: 9/17;
    }

    .card.contacts {
        grid-row: 22/25;
        grid-column: 1/17;
    }
}
