@keyframes headerAnim {
    from {
        transform: translateY(-100%) rotateX(360deg);
    }
    
    to {
        transform: translateY(0) rotateX(0);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: var(--header-height);
    animation-name: headerAnim;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 1vh 0;
}

header > img {
    height: auto;
    width: 15%;
    margin-left: var(--margin-main);
}

.controls-block {
    display: flex;
    align-items: center;
    margin-right: var(--margin-main);
}

.avatar-icon {
    position: relative;
}

.avatar-icon::before {
    content: "R";
    display: inline-block;
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background-color: orange;
    vertical-align: middle;
    margin-left: 1em;
    color: white;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.avatar-icon:hover::before {
    background-color: #D90;
}

.avatar-icon:hover .avatar-icon::before {
    background-color: #D90;
}

.avatar-icon .profile-tools {
    display: none;
    position: absolute;
    background-color: white;
    width: 300%;
    padding: 20px;
    box-shadow: 0 0 6px 1px #AAAA;
    right: 0;
    top: 50px;
    z-index: 3;
}

.divider {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.dark-grey {
    color: #777;
    border-color: #777;
}

.active-button {
    padding: 10px;
    transition-property: color, background-color;
    transition-duration: 0.3s;
}

.active-button:hover {
    color: blue;
    background-color: #DDD;
}

.avatar-icon-checkbox {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    left: 4px;
}

.avatar-icon-checkbox:checked ~ .profile-tools {
    display: block !important;
}

.more-dark-on-hover {
    opacity: .5;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.more-dark-on-hover:hover {
    opacity: .8;
}
