.notification-container {
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 4;
    max-width: 30vw;
    overflow-y: hidden;
}

.notification {
    opacity: .8;
    display: flex;
    align-items: center;
    color: white;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.notification:hover {
    opacity: 1;
}

.notification.error {
    background-color: red;
}

.notification.success {
    background-color: #0D0;
}

.notification.warning {
    background-color: #FB0;
}

.notification.info {
    background-color: #0AF;
}

.notification .content {
    display: flex;
    flex-direction: column;
}

.notification .title {
    margin-bottom: 7px;
    font-size: 1.2em;
}

.notification .icon {
    margin-right: 20px;
    font-size: 2rem;
}

.notification .fa-info {
    margin-right: 30px !important;
    margin-left: 10px;
}

@media all and (max-width: 960px) {
    .notification-container {
        max-width: 100%;
    }
}
